@import url(./reset.css);
@import url(./timer.css);
@import url(./snackbar.css);

body {
  font-family: 'Montserrat', sans-serif;
}

.nav-link {
  display: block;
  margin: 15px;
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: aliceblue;
  color: #2e2f42;
  width: 90px;
  text-decoration: none;
  text-align: center;
}

section {
  padding: 30px;
}
